<div class="main-content" style="padding-left: 5rem; padding-right: 5rem;padding-top: 2rem;">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container">

        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput placeholder="Anatomy" type="text" id="name" formControlName="name" required>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Day Goal:</mat-label>
            <input matInput type="number" id="dayLimit" formControlName="dayLimit" required>
        </mat-form-field>


        <button mat-stroked-button color="primary">Add</button>
    </form>


</div>