.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    gap: .5rem;

    height: 700px;
    overflow-y: auto;
    padding: 2rem;
    background-color: rgb(240, 240, 240);

    .text {
        font-size: 1.2rem;
        font-style: bold;
    }

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        border-radius: 10px;
        padding: 1rem;
        font-size: 1.2rem;
        border: 1px solid rgb(93, 93, 93);
    }

    .buttons {
        display: flex;

        align-items: center;
        justify-content: center;
        gap: .4rem;
        margin-top: auto;

        * {
            padding: .6rem;
            border-radius: 10px;
        }

        *:hover {
            cursor: pointer;

        }

        .cancel {
            color: white;
            background-color: rgb(93, 93, 93);
        }

        .cancel:hover {
            background-color: rgb(67, 65, 65);
        }

        .yes {
            color: white;
            background-color: rgb(62, 86, 237);
        }

        .yes:hover {
            background-color: rgb(27, 52, 212);
        }
    }
}