.buttons {
    font-family: "Salsa", cursive;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .secondary-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .reset-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.info {
    font-family: "Salsa", cursive;

    * {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.start-btn {
    font-size: 1.5rem;
}

.flashcard-list {
    max-height: 500px;
    overflow: auto;
}

.dropdown-item {
    cursor: pointer;
}

.hover {
    cursor: pointer;
}

.unauthorized {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 5rem;
    font-weight: bold;
    font-family: "Rubik Scribble", system-ui;
}

.keys {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50px;

    }
}